- @images = []
- @images << 'dof-dragons.dgauss.jpg'
- @images << 'dof-dragons.fisheye.jpg'
- @images << 'dof-dragons.telephoto.jpg'
- @images << 'dof-dragons.wide.jpg'

h3 Final Images Rendered with my implementation

table border="1" width="100%" cellspacing="0" cellpadding="0"
  thead
    tr
      th 4 samples
      th 512 samples
  tbody
    - @images.each do |image|
      tr
        td
          img src="img/sample4/#{image}"
          p
            tt
              | #{image}
        td
          img src="img/sample512/#{image}"
          p
            tt
              | #{image}
