- @klass = Struct.new(:name, :time_old, :time_new)
- @images = []
- @images << @klass.new("hftest", "0.1s", "0.1s")
- @images << @klass.new("landsea-0", "0.6s", "0.9s")
- @images << @klass.new("landsea-1", "0.6s", "0.9s")
- @images << @klass.new("landsea-2", "0.5s", "0.7s")
- @images << @klass.new("landsea-big", "1.3s", "3.7s")
- @images << @klass.new("texture", "0.4s", "0.6s")

h3 Final Images Rendered with my implementation

table border="1" width="100%" cellspacing="0" cellpadding="0"
  thead
    tr
      th Original
      th My Implementation
      th Timings
  tbody
    - @images.each do |image|
      tr
        td
          img src="img/#{image.name}-old.jpg"
          p
            tt
              | #{image.name} (Original)
        td
          img src="img/#{image.name}.jpg"
          p
            tt
              | #{image.name} (My Implementation)
        td
          ul
            li
              | Original: #{image.time_old}
            li
              | My Implementation: #{image.time_new}

