- @school = "NTU CSIE"
- @course = "Digital Image Synthesis"
- @title = "Assignment #1 - Height Field"
- @name = "David Lin"
- @student_id = "b98902077"
- @email = "davll.xc@gmail.com"
- @submission_date = Date.today
doctype html
html
  head
    meta http-equiv="Content-Type" content="text/html; charset=utf-8"
    title= @title
  body
    div
      h2= @title
      p= @school + " - " + @course
      p Name: #{@name}
      p ID: #{@student_id}
      p Date submitted: #{@submission_date}
    div
      = render "description.md"
    div
      = render "final_images.slim"

