h3 Final Images Rendered with my implementation

- %w(grace_latlong grace-new_latlong).each do |tex_name|
  table border="1" width="100%" cellspacing="0" cellpadding="0"
    caption
     h3= tex_name
    thead
      tr
        th infinite
        th median cut
    tbody
      - [4, 16, 64, 256].each do |n_samples|
        tr
          - %w(infinite mediancut).each do |method|
            td
              img src="img/#{tex_name}/envlight-#{method}-#{n_samples}.png"
              p
                tt
                  | nSamples = #{n_samples}
